{% extends "base.html" %}
{% block content %}
<section class="posts">
  <h1>{{ section.title }}</h1>
  <ul>
    {% for page in section.pages %}
    <li{% if page.extra.cover %} class="has-thumb"{% endif %}>
      {% if page.extra.cover %}
      <a href="{{ page.permalink | safe }}" class="post-thumb" tabindex="-1" aria-hidden="true">
        <img src="{{ page.extra.cover }}" alt="" loading="lazy">
      </a>
      {% endif %}
      <div class="post-meta">
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
        <span class="post-info">
          <time datetime="{{ page.date }}">{{ page.date | date(format="%Y.%m.%d") }}</time>
          <span class="separator">::</span>
          <span>{{ page.reading_time }} min read</span>
        </span>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
