{% extends "base.html" %}
{% block content %}
<section class="posts">
  <h1>{{ section.title }}</h1>
  <ul>
    {% for page in section.pages %}
    <li>
      <div class="post-meta">
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
        <span class="post-info">
          <time datetime="{{ page.date }}">{{ page.date | date(format="%Y.%m.%d") }}</time>
          <span class="separator">::</span>
          <span>{{ page.reading_time }} min read</span>
        </span>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
